*
!.gitignore
!edge264*.c
!edge264*.h
!LICENSE_BSD.txt
!Makefile
!README.md
!CMakeLists.txt
!*.in
!tests
!tests/*.yaml
!build_demo.sh
!edge264_demo.js
!d8_guide.html
!run_decode.js
!js_hotloop.js
!wasm_funcmap.sh
!d8
!d8/*
